:root {
    --c1: #ffecd6;
    --c2: #544e68;
}

* {
    font-family: mainFont;
    /* Font does not really support bold letters. */
    font-weight: normal;

    color: var(--c1);
    background-color: var(--c2);
    /* Hopefully preventing the blurring of low-res fonts. (It didn't but keeping this for good measure) */
    -webkit-font-smoothing: none;
    font-size: 32px;
    font-smooth: never;
    text-rendering: initial !important;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    line-height: 0.5;
    padding: 0px;
    margin: 0px;
}

.button {
    height: auto;
    background-color: #ffaa5e;
    border: 10px solid transparent;
    border-image: url(../media/button_border.png) 25% round;
    cursor: pointer;
}

.button:active {
    border-image: url(../media/button_border_pressed.png) 25% round;
    background-color: #544e68;
    color: #8d697a;
}

.stat {
    border: 10px solid transparent;
    width: 200px;
    padding: 0px;
    border-image: url(../media/statBorder.png) 25% round;
    background-image: url(../media/states/stats8.png);
    background-repeat: no-repeat;
    /* background-attachment: local; */
    background-position: 136px;
    background-size: 35%;
}
